name: Back Workflow

on:
  push:
    branches:
      - develop
    #paths:
      #- 'back/**'  # Se déclenche uniquement si des fichiers dans 'back' sont modifiés -- Ignoré pour les tests
  pull_request:
    branches:
      - main
    paths:
      - 'back/**'  # Se déclenche uniquement si des fichiers dans 'back' sont modifiés

jobs:
  # Job 1 : Tests
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Run tests with Maven
        run: mvn -B clean test

  # Job 2 : SonarCloud
  sonar:
    runs-on: ubuntu-latest
    needs: tests  # Ce job ne s'exécute que si les tests réussissent
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Run SonarCloud analysis
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          projectBaseDir: ./back

  # Job 3 : Docker
  docker:
    runs-on: ubuntu-latest
    needs: sonar  # Ce job ne s'exécute que si SonarCloud réussit
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push back Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./back
          file: ./back/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/bobapp-back:latest
